@import 'mapbox-gl/dist/mapbox-gl.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar - Softer & Rounder */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #475569;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #64748b;
}

@layer base {
  body {
    @apply bg-slate-950 text-slate-300 overflow-hidden;
  }
}

/* Mapbox Customization */
.mapboxgl-popup-content {
  background: #1e293b;
  color: #e2e8f0;
  border: 1px solid #334155;
  border-radius: 0.75rem;
  padding: 10px;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.mapboxgl-popup-tip {
  border-top-color: #1e293b !important;
  border-bottom-color: #1e293b !important;
}

.mapboxgl-ctrl-group {
  background: #1e293b !important;
  border: 1px solid #334155;
}

.mapboxgl-ctrl-icon {
  filter: invert(1);
}
